// Главный файл, где пишутся и куда подключаются все стили проекта

// Адаптивное свойство - используется, если дизайнером предоставлен неполный макет,
// чтобы при уменьшении или увеличении экрана паддинги, размеры шрифта автоматически
// увеличивались / уменьшались в границах от десктопного значения до телефонного
// Подробнее: https://www.youtube.com/watch?v=eaOAY0vIB4U
$maxWidth: 1920; // Для масштабирования, например, текста, если экран будет увеличиваться и станет больше контейнера
$maxWidthContainer: 1200; // Для масштабирования, например, текста, если экран будет уменьшаться и станет меньше контейнера

// Импорт дополнительных файлов стилей и настроек
@import "variables";
@import "../../node_modules/normalize.css/normalize";
@import "start";
@import "mixins/font-face";
@import "mixins/adaptive-value";
@import "fonts";
@import "global";

// Основная часть
html {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: $text-color;
}

body {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: -196px;
    right: -26px;
    width: 1162px;
    height: 1504px;
    z-index: -10;
    background: url("../images/global/main-bg.jpg") center/contain no-repeat;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  &__header {
    margin-bottom: 160px;
  }
}

.header {
  &__inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 30px 130px 0;
  }
  &__logo-wrapper {
  }
  &__logo-img {
    transition: filter 0.3s;
    &:hover {
      filter: drop-shadow(1px 1px 3px rgba(#b700ff, 0.3));
    }
  }
}

.buy {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__main {
    flex: 1 0 540px;
  }
  &__title {
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0;
      background-color: $text-color;
      transition: width 0.3s;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__accent-text {
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    background: $accent-color;
    border-radius: 60px;
    padding: 15px 0;
    text-align: center;
    max-width: 425px;
    margin-bottom: 50px;
    transition: background-color 0.2s;
    &:hover {
      background-color: lighten($accent-color, 10%);
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  &__input {
    max-width: 540px;
    width: 100%;
    border: 2px solid #0c1f36;
    border-radius: 60px;
    padding: 23px;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: $text-color;
    transition: border-radius 0.15s;
    appearance: none;
    outline: none;
    box-shadow: 0px 0px 0px rgba(#000, 0.3);
    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: 1px 1px 6px rgba(#000, 0.5);
    }
    &::placeholder {
      font-size: 20px;
      line-height: calc(23 / 20);
      color: $text-color;
    }
  }
  &__input + &__input {
    margin-top: 20px;
  }
  &__text-input {
    margin-bottom: 20px;
    filter: opacity(50%);
    transition: filter 0.15s, box-shadow 0.2s;
    &:focus {
      filter: opacity(100%);
    }
  }
  &__select-wrapper {
    max-width: 540px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translateY(-50%);
      width: 16px;
      height: 9px;
      background: url("../images/buy/arrow.svg") center/contain no-repeat;
      pointer-events: none;
    }
  }
  &__select {
    cursor: pointer;
    background: transparent;
  }
  &__btn {
    margin-top: 30px;
    max-width: 540px;
    width: 100%;
    background: #4e96ff;
    box-shadow: 0px 30px 40px rgba(78, 150, 255, 0.25);
    border-radius: 60px;
    border: none;
    outline: none;
    padding: 26px 162px 23px 204px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: #fff;
    cursor: pointer;
    transition: background 0.15s;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 162px;
      transform: translateY(-50%);
      width: 27px;
      height: 27px;
      background: url("../images/buy/cart.png") center/contain no-repeat;
    }
    &:hover {
      background: darken(#4e96ff, 10%);
    }
  }
  &__paying {
    max-width: 540px;
    text-align: center;
  }
  &__paying-inner {
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__info {
    max-width: 541px;
    width: 100%;
  }
  &__vk-groups {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(#000, 0.2);
    margin-bottom: 26px;
  }
  &__info-btns-list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 40px;
  }
  &__info-btn-wrapper {
    margin: 10px;
    width: 260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info-btn {
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    background-color: $text-color;
    box-shadow: 0px 10px 40px 6px rgba(193, 193, 193, 0.2);
    border-radius: 60px;
    width: 100%;
    height: 100%;
    padding: 18px 0;
    text-align: center;
    border: 2px solid $text-color;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: transparent;
      color: $text-color;
    }
    &--trasparent {
      background-color: transparent;
      color: $text-color;
      &:hover {
        background-color: $text-color;
        color: #fff;
      }
    }
  }
  &__company-wrapper {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #0c1f36;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
  }
  &__company-text {
  }
  &__company-text + &__company-text {
    margin-top: 10px;
  }
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: #daf3ff; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #cacaca; /* цвет плашки */
  &:active {
    background-color: #b4b4b4;
  }
}
@import "media";
