// Здесь находятся все медиазапросы, вынесены в отдельный файл для удобства
@media (max-width: 1180px) {
  .buy {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__main {
      margin-bottom: 54px;
      flex: 0 1 auto;
    }
    &__btn {
      &::before {
        left: 110px;
      }
    }
  }
}

@media (max-width: 670px) {
  .header {
    &__inner {
      padding: 20px 20px 0 20px;
    }
  }
  .buy {
    &__main {
      margin-right: 0;
    }
  }
}

@media (max-width: 600px) {
  .buy {
    &__info-btn-wrapper {
      width: 185px;
    }
  }
}

@media (max-width: 570px) {
  body {
    &::before {
      top: 10px;
      right: -100px;
      width: calc(1162px / 1.5);
      height: calc(1504px / 1.5);
      overflow-y: auto;
    }
  }
  .page {
    &--525 {
      min-height: 525px;
    }
  }
  .panel {
    top: 43%;
    &__main {
      @include adaptive-value("width", 440, 310, 1);
      padding-top: 30px;
      padding-bottom: 30px;
      @include adaptive-value("padding-left", 85, 40, 1);
      @include adaptive-value("padding-right", 85, 40, 1);
      height: 245px;
    }
    &__bottom {
      padding: 15px 60px;
    }
    &__link {
      padding-left: 10px;
      padding-right: 0;
      @include adaptive-value("max-width", 540, 300, 1);
      &::before {
        @include adaptive-value("left", 120, 40, 1);
      }
    }
  }
}

@media (max-width: 465px) {
  .buy {
    &__btn {
      &::before {
        @include adaptive-value("left", 480, 40, 1);
      }
    }
  }
}

@media (max-width: 440px) {
  .buy {
    &__title {
      text-align: center;
    }
  }
}

@media (max-width: 430px) {
  .buy {
    &__info-btn-wrapper {
      width: 100%;
    }
  }
}

@media (max-width: 390px) {
  .buy {
    &__select-wrapper {
      &::before {
        width: calc(16px / 1.5);
        height: calc(9px / 1.5);
        right: 20px;
      }
    }
  }
}

@media (max-width: 350px) {
  .buy {
    &__select-wrapper {
      &::before {
        width: calc(16px / 1.5);
        height: calc(9px / 1.5);
        right: 12px;
      }
    }
  }
}
